 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
             </div>
             <div class="row">
                <div class="col-lg-12 text-center">
                    <p>This is a personal website based on Bootstrap theme, which includes HTML, CSS, JavaScript. I am Stella Wu, a student from Mcmaster University, currently looking for a summer intern between start of May to end of August.</p>
                </div>
              </div>
        </div>
    </section>
